*{
    box-sizing: border-box;
}

.container{
    display: flex;

}

.information{
    margin-left: 50px;
    width: 500px;
}

.red-turn{
    color: red;
    
}

.black-turn{
    display: none;
}

#board{
    background-color: lightblue;
    background-image: url('./images/board.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: center; */
    position: relative;
    /* margin: auto; */
    width: 650px;
    height: 100vh;
    
    
    
}

#board-img{
    position: absolute;
    width: 100%;
    height: 100%;

    user-select: none;
    pointer-events: none;
   
}

#grid-board{
  
     position: absolute;
   width: 100%;
   height: 100%;
 
    
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(10,1fr);

    align-items: center;
    text-align: center;

    
}

.piece>img{
    margin: auto;
    height: 70%;
    width: 70%;
    object-fit: cover;
    object-position: center;
     display: block;
     
    user-select: none;
    pointer-events: none;
     text-align: center;
}

.piece{
     user-select: none; 
   padding: 5px;
    position: relative;
     /* display: none; */
   
     
}

.is-selected{
    z-index: 1;
    
}

.died{
    width:60px;
    height: 60px;
}

.died-panel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}



.mask{
    display: none;
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(255, 255,255, 0.9);
}

.reset-box{
    margin-top: 150px;
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 5;
    
}

.reset-box .winner-box{
   text-align: center;
   
  
}